In [22]:

class job:
  def __init__(self, fam, dol, okl):
    self.fam = fam
    self.dol = dol
    self.okl = okl

  def __del__(self):
    print("удалён работник",self.fam)

  def stonks(self):
    global a
    for i in range(len(a)):
      a[i].proc()

  def proc(self):
    self.okl = self.okl*1.15

  def ivan(self):
    global a
    for i in range(len(a)):
      a[i].engine ()

  def engine(self):
    global a
    if len(self.fam) > 3:
      if self.fam[:4] == "Иван":
        self.dol = "Инженер"
  def info(self):
    print("Фамилия:self.fam")
    print("Должность:self.dol")
    print("Оклад:self.okl")
a = []
for i in range(3):
  f,d,o = input().split()
  o = int(o)
  a.append(job(f,d,o))

a[0].stonks()
a[0].ivan()
for i in range(len(a)):
  print("Работник по фамилии",a[i].fam,"на должности",a[i].dol,"с окладом",a[i].okl)

Черняева учитель 50000
Иванов дворник 45000
Ковалёв врач 100000
Работник по фамилии Черняева на должности учитель с окладом 57499.99999999999
Работник по фамилии Иванов на должности Инженер с окладом 51749.99999999999
Работник по фамилии Ковалёв на должности врач с окладом 114999.99999999999